In [1]:
import numpy as np

# Create the array and reshape it
arr1 = np.arange(1, 11).reshape(2, 5)
print(arr1)
arr2 = np.arange(1, 21)
subset = arr2[4:15]  # Indices from 5th to 15th (zero-indexed)
print(subset)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
[ 5  6  7  8  9 10 11 12 13 14 15]

In [2]:
import pandas as pd

# Create the initial series
fruits = pd.Series({'grapes': 3, 'bananas': 2, 'jack fruit': 1})

# Add a new item to the series
fruits['berries'] = 4
print(fruits)

grapes        3
bananas       2
jack fruit    1
berries       4
dtype: int64

In [5]:
# Create a DataFrame with 10 rows of data
data = {
    'name': ['Archana', 'Bincy', 'Chinnu', 'sooraj', 'Suhana', 'Rithu', 'Deva', 'Harish', 'Iyswarya', 'Jishnu'],
    'age': [29, 31, 32, 33, 34, 35, 36, 37, 38, 39],
    'gender': ['Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male']
}

df = pd.DataFrame(data)
print(df)

       name  age  gender
0   Archana   29  Female
1     Bincy   31  Female
2    Chinnu   32  Female
3    sooraj   33    Male
4    Suhana   34  Female
5     Rithu   35  Female
6      Deva   36  Female
7    Harish   37    Male
8  Iyswarya   38  Female
9    Jishnu   39    Male

In [7]:
# Add occupation column
df['occupation'] = ['Developer', 'Manager', 'Analyst', 'Programmer', 'HR', 
                     'Nurse', 'Admin', 'Finance', 'Teacher', 'Teacher']
print(df)

       name  age  gender  occupation
0   Archana   29  Female   Developer
1     Bincy   31  Female     Manager
2    Chinnu   32  Female     Analyst
3    sooraj   33    Male  Programmer
4    Suhana   34  Female          HR
5     Rithu   35  Female       Nurse
6      Deva   36  Female       Admin
7    Harish   37    Male     Finance
8  Iyswarya   38  Female     Teacher
9    Jishnu   39    Male     Teacher

In [9]:
# Filter rows where age is greater than or equal to 30
filtered_df = df[df['age'] >= 30]
print(filtered_df)

       name  age  gender  occupation
1     Bincy   31  Female     Manager
2    Chinnu   32  Female     Analyst
3    sooraj   33    Male  Programmer
4    Suhana   34  Female          HR
5     Rithu   35  Female       Nurse
6      Deva   36  Female       Admin
7    Harish   37    Male     Finance
8  Iyswarya   38  Female     Teacher
9    Jishnu   39    Male     Teacher

In [11]:
# Save the DataFrame to a CSV file
df.to_csv('data.csv', index=False)

# Read the CSV file
df_from_csv = pd.read_csv('data.csv')
print(df_from_csv)

       name  age  gender  occupation
0   Archana   29  Female   Developer
1     Bincy   31  Female     Manager
2    Chinnu   32  Female     Analyst
3    sooraj   33    Male  Programmer
4    Suhana   34  Female          HR
5     Rithu   35  Female       Nurse
6      Deva   36  Female       Admin
7    Harish   37    Male     Finance
8  Iyswarya   38  Female     Teacher
9    Jishnu   39    Male     Teacher